apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: tgb-data
  labels:
    app: telegram-link-downloader
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi
